#Dataset 
Dataset/ 

#Models
models/v1/

#masklabels
masklabels.py

#modelexport
modelexport.py

#log
log/

#tfgraph 
frozentfgraph.pb
tfgraph.pb
tfgraph.pbtxt

#pycache
__pycache__/

#ipython checkpoints 
.ipynb_checkpints/

#Notebooks 
*.ipynb

#Webpages 
*.html